<div class="layout-wrapper">
  
  <aside class="layout-sidebar">
    <div class="sidebar-logo">
      <i class="pi pi-shield"></i>
      <span>SOS-Rota</span>
    </div>
    
    <nav class="sidebar-nav">
      <a routerLink="/dashboard" class="nav-item">Dashboard</a>
      <a routerLink="/usuarios" class="nav-item">Gestão de Usuários</a>
      </nav>
  </aside>

  <div class="layout-main">
    
    <header class="layout-topbar">
      <div class="user-info">
        <span class="user-name">Olá, Admin</span>
        <i class="pi pi-user"></i>
      </div>
    </header>

    <main class="layout-content">
      <div class="card-neve">
        <router-outlet /> 
      </div>
    </main>

  </div>
</div>