<div class="layout-wrapper">
  
  <aside class="layout-sidebar">
    
    <div class="sidebar-header">
      <i class="pi pi-shield brand-icon"></i>
      <span class="brand-name">SOS-ROTA</span>
    </div>

    <div class="sidebar-menu-container">
       <p-menu [model]="menuItems" styleClass="menu-minimalista"></p-menu>
    </div>

    <div class="sidebar-footer" *ngIf="usuario">
      <p-avatar icon="pi pi-user" shape="circle" size="large"></p-avatar>
      <div class="user-info">
        <span class="user-name">{{ usuario.nome }}</span>
        <span class="user-role">{{ usuario.nivelAcesso }}</span>
      </div>
    </div>

  </aside>

  <main class="layout-content">
    <div class="content-body">
      <router-outlet></router-outlet>
    </div>
  </main>

</div>